:host {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2.625em;

    margin: 0 auto;
    padding: 3.75em;

    max-width: 1200px;
    min-height: 0;
    min-width: 0;

    list-style: none;

    @media screen and (min-width: 460px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 990px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 990px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
